/** Help Text Style **/
/** Firefox input height settings **/
.pro-sites_page_psts-settings input {
    line-height: 1.5;
}
.psts-help-text-wrapper {
    display: none;
    left: 0;
    position: absolute;
    top: 16px;
    min-width: 150px;
    z-index: 9999;
}
.psts-help-text {
    background: none repeat scroll 0 0 #464646;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 11px;
    margin-top: 10px;
    max-width: 300px;
    padding: 0.5em;
    text-align: center;
}
/** Arrow **/
.psts-help-arrow-wrapper {
    border: 6px solid transparent;
    height: 0;
    margin: 0 0 0 73px;
    position: absolute;
    width: 0;
}
.psts-help-arrow {
    border: 7px solid transparent;
    border-bottom-color: #464646;
    margin-left: -6px;
    margin-top: -9px;
    height: 0;
    position: absolute;
    width: 0;
}
/** Help Tip **/
.help_tip {
    margin-left: 4px;
    position: absolute;
    top: 3px;
}
/** Coupons Table **/
#add_coupon {
    border-collapse: separate;
    border-spacing: 10px 5px;
}
#add_coupon th, #add_coupon td {
    vertical-align: top;
}
#add_coupon th input, #add_coupon td input {
    height: 28px;
}
#add_coupon th {
    position: relative;
    text-align: left;
}
input[name="uses"] {
    width: 100px;
}
.coupon-code .psts-help-text-wrapper {
    left: 14px;
}
.coupon-period .psts-help-text-wrapper {
    left: -26px;
}
.expire-date .psts-help-text-wrapper {
    left: 4px;
}
/** Allowed Users Help text **/
.allowed-users .psts-help-text-wrapper {
    left: 16px;
}
/** Chosen Style **/
#add_coupon  .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 24px;
    width: auto !important;
}
.chosen-container-multi {
    max-width: 180px;
    width: auto !important;
}
#add_coupon .chosen-container-single .chosen-single span {
    margin: 0;
}
/** Settings Page **/
.psts-help-div {
    position: relative;
}
.post-page-quota .help_tip {
    top: 21px;
}
.post-page-quota .psts-help-text-wrapper {
    top: 36px;
}
.post-page-quota td, .post-page-quota th {
    position: relative;
}
.post-page-quota .pro-site-level .psts-help-text-wrapper {
    left: 37px;
}
.post-page-quota td.upgrade-message .psts-help-text-wrapper {
    left: 62px;
}
.pay-for-signup {
    position: relative;
}
.pay-for-signup .help_tip {
    top:22px;
}
.pay-for-signup .psts-help-text-wrapper {
    left: 77px;
    top: 37px;
}
.psts-free-trial .help_tip {
    top: 21px;
}
.psts-free-trial .psts-help-text-wrapper {
    left: -6px;
    top: 35px;
}
.psts-cancellation .help_tip,
.psts-trial-message .help_tip {
    top: 23px;
}
.psts-trial-message .psts-help-text-wrapper {
    left: 30px;
    top: 38px;
}
.psts-cancellation .psts-help-text-wrapper {
    left: 51px;
    top: 40px;
}
.psts-rebrand-pro .help_tip {
    top: 22px;
}
.psts-rebrand-pro .psts-help-text-wrapper {
    left: 51px;
    top: 36px;
}
.psts-free-level .help_tip {
    top: 21px;
}
.psts-free-level .psts-help-text-wrapper {
    left: 0;
    top: 38px;
    width: 150px;
}
.psts-signup-message .help_tip {
    top: 23px;
}
.psts-signup-message .psts-help-text-wrapper {
    left: 40px;
    top: 40px;
}
.psts-checkout-page .help_tip, .psts-feature-message .help_tip {
    top: 23px;
}
.psts-checkout-page .psts-help-text-wrapper {
    left: 21px;
    top:  37px;
}
.psts-checkout-page .psts-help-arrow-wrapper, .psts-pro-signup .psts-help-arrow-wrapper {
    margin: 0 0 0 83px;
}
.psts-feature-message .psts-help-text-wrapper {
    left: 74px;
    top: 39px;
}
.psts-feature-message .psts-help-text,
.psts-trial-message .psts-help-text,
.psts-cancellation .psts-help-text,
.pay-for-signup .psts-help-text {
   width: 200px;
}
.psts-feature-message .psts-help-arrow-wrapper,
.psts-trial-message .psts-help-arrow-wrapper,
.pay-for-signup .psts-help-arrow-wrapper,
.psts-cancellation .psts-help-arrow-wrapper {
    margin: 0 0 0 100px;
}
.psts-setup-fee .help_tip, .psts-recurring .help_tip {
    top: 22px;
}
.psts-setup-fee .psts-help-text-wrapper {
    left: -2px;
    top: 37px;
    width: 150px;
}
.psts-recurring .psts-help-text-wrapper {
    left: 92px;
    top: 36px;
}

.psts-label.psts-label-message,
.psts-label.psts-label-name {
    display: inline-block;
    width: 60px;
}

.psts-label.psts-label-notpro,
.psts-label.psts-label-currentpro {
    display: inline-block;
    width: 80px;
}
.psts-email-notifications .help_tip {
    top: 22px;
}
.psts-pro-signup .psts-help-text-wrapper {
    left: 23px;
    top: 36px;
}
.psts-pro-site-cancelled .psts-help-text-wrapper {
    left: 7px;
    top: 37px;
    width: 250px;
}
.psts-pro-site-cancelled .psts-help-arrow-wrapper {
    margin: 0 0 0 115px;
}
.psts-payment-reciept .psts-help-text-wrapper {
    left: -1px;
    top: 37px;
    width: 250px;
}
.psts-payment-reciept .psts-help-arrow-wrapper {
    margin: 0 0 0 120px;
}
.psts-expiration-mail .psts-help-text-wrapper {
    left: 41px;
    top: 38px;
}
.psts-payment-problem .psts-help-text-wrapper {
    left: 52px;
    top: 38px;
}
/* Paypal */
.psts-paypal-header .help_tip {
    right: 45px;
    top: 23px;
}
.psts-paypal-header .psts-help-text-wrapper {
    left: 77px;
    top: 38px;
}
.psts-paypal-header-border .help_tip {
    right: 0;
    top:22px;
}
.psts-paypal-header-border .psts-help-text-wrapper {
    left: 122px;
    top: 36px;
}
.psts-paypal-header-background .help_tip {
    right: 5px;
    top: 22px;
}
.psts-paypal-header-background .psts-help-text-wrapper {
    left: 117px;
    top: 36px;
}
.psts-paypal-background .help_tip {
    right: 20px;
    top: 23px;
}
.psts-paypal-background .psts-help-text-wrapper {
    left: 102px;
    top: 38px;
}
.psts-paypal-thank-you .help_tip {
    right: 55px;
    top: 23px;
}
.psts-paypal-thank-you .psts-help-text-wrapper {
    left: 67px;
    top: 38px;
}
/** Stripe  **/
.psts-stripe-currency .help_tip {
    top: 23px;
}
.psts-stripe-currency .psts-help-text-wrapper {
    left: 36px;
    top: 38px;
}
.psts-stripe-thankyou .help_tip {
    top: 24px;
}
.psts-stripe-thankyou .psts-help-text-wrapper {
    left: 64px;
    top: 37px;
}
/** Manual Payment **/
.psts-method-name .help_tip,
.psts-show-submission .help_tip,
.psts-user-instruction .help_tip,
.psts-submission-form-email .help_tip {
    top: 23px;
}
.psts-method-name .psts-help-text-wrapper {
    left: 15px;
    top: 41px;
}
.psts-method-name .psts-help-arrow-wrapper {
    margin :0 0 0 87px;
}
.psts-user-instruction .psts-help-text-wrapper {
    left: 48px;
    top: 39px;
}
.psts-show-submission .help_tip {
    left: 158px;
    top: 23px;
}
.psts-show-submission .psts-help-text-wrapper {
    left: 90px;
    top: 40px;
}
.psts-submission-form-email .psts-help-text-wrapper {
    left: 90px;
    top: 40px;
}
/* Two checkout */
.psts-thankyou-checkout .help_tip {
    top: 23px;
}
.psts-thankyou-checkout .psts-help-text-wrapper {
    left: 63px;
    top: 40px;
}
/* Post throttling */
.plan-th-limits {
    margin: 10px 0;
}
.plan-th-limits .chosen-container {
    min-width: 93px;
    width: auto !important;
}