#prosites-media-quota-display {
    border: 1px solid #e5e5e5;
    display: block;
    padding: 10px;
    text-align: right;
}

#prosites-media-quota-display .size-text {
    float: left;
}

.attachments-browser #prosites-media-quota-display {
    position: relative;
    top: -16px;
    font-size: 13px;
}